<!DOCTYPE html>
        <html>
                  <head>
                            <title>{{ page.title  }}</title>
                            <!-- link to main stylesheet -->
                            <link rel="stylesheet" type="text/css" href="/css/main.css">
                  </head>
                  <body>
                            <nav>
                            <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/cv">CV</a></li>
                                    <li><a href="/blog">Blog</a></li>
                            </ul>
                            </nav>
                            <div class="container">
                            
                            {{ content }}
                            
                            </div><!-- / .container -->
                            <footer>
                            <ul>
                                     <li><a href="mailto:lekoloanelesetja@gmail.com">email</a></li>
                                     <li><a href="https://twitter.com/leeseetja">@leeseetja</a></li>
                                     <li><a href="https://github.com/leeseetja">github.com/leeseetja</a></li>
(c) 2020. Made with ❤️ in PTA by <li><a href="https://twitter.com/leeseetja">@leeseetja</a></li>
                            </ul>
                            </footer>
                    </body>
           </html>
